

#password {
    width: 300px;
    padding: 16px;
    border: solid 1px gray;
    border-radius: 4px;
}
#btn {
    border: solid 1px gray;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    background-color: black;
    color: white;
    transition: all 0.6s;
}
#btn:hover {
    color: black;
    background-color: white;
}

.casts {
    /* display: block; */
    opacity: 0;
    transition: opacity 0.6s;
    margin-top: 48px;
}
.each-cast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.cast {
    width: 250px;
    margin-bottom: 12px;
}
.casts .cast p{
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}