* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: rgb(194, 194, 194); */
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
#win-height {
    min-height: 100vh;
}

/* header */
header {
    width:100vw;
    /* background-color: rgb(132, 185, 187); */
    background-color: rgb(132, 185, 187);
    /* background-color: rgb(41, 41, 41); */
    color: white;
    padding: 0 16px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
}
header .container {
    display: flex;
}
header h1 {
    display: flex;
    align-items: center;
}
header h1 a {
    display: flex;
    align-items: center;
}
header img {
    max-width: 100px;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
header ul li {
    margin: 8px 24px;
    /* background-color: white; */
    /* border-radius: 4px; */
}
header ul a {
    display: block;
    padding: 8px 16px;
    color: white;
}
header a:hover {
    color:rgb(255, 248, 148);
}

/* main */
main {
    padding: 32px 16px;
    min-height: 90vh;
}


/* footer */
footer{
    color: white;
    background-color: rgb(132, 185, 187);
    text-align: right;
    padding: 16px;
}






/* javascript */

/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp{
animation-name:fadeUpAnime;
animation-duration:1.4s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeUpTrigger{
    opacity: 0;
}
