@charset "utf-8";



.openbtn1 {
    display: none;
}




@media screen and (max-width: 620px) {
    header ul {
        display: none;
    }

    


    /*==================================================
　5-2-1 3本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/


.openbtn1{
    display: block;

    position: absolute;/*ボタン内側の基点となるためrelativeを指定*/
      right: 32px;
      top: 32px;
    /* background:#57a2c7; */
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
    z-index: 100;

  }
  
  /*ボタン内側*/
  .openbtn1 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      right: 14px;
      height: 3px;
      border-radius: 2px;
    background: #fff;
      width: 45%;
    }
  
  .openbtn1 span:nth-of-type(1) {
    top:15px; 
  }
  
  .openbtn1 span:nth-of-type(2) {
    top:23px;
  }
  
  .openbtn1 span:nth-of-type(3) {
    top:31px;
  }
  
  /*activeクラスが付与されると線が回転して×に*/
  
  .openbtn1.active span:nth-of-type(1) {
      top: 18px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
  }
  
  .openbtn1.active span:nth-of-type(3){
      top: 30px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  /*========= レイアウトのためのCSS ===============*/

  .openbtn1:active ~ header ul {
      display: block;
  }
  
  body{
    background:#f3f3f3;
  
  }
  
  
  a{
    color: #333;
    text-decoration: none;
  }
  
  .lead{
    margin:20px 0 0 0;
  }
  
  .btn-block{
    width:200px;  
    padding: 30px;
  }
}