.bg-img {
    width:100vw;
    height: 100vh;
/*     background-image: url("../images/home.PNG"); */
    background-color: rgb(132, 185, 187);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    min-height: 100%;
}
