* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color:rgb(255, 248, 148);
}

/* 全体 */
body {
    color: white;
    background-color: rgb(132, 185, 187);

}
.bg-img {
    padding-top: 32px;
    width:100vw;
    height: 100vh;
    background-image: url("../images/home.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: opacity 1.6s;

}
.container {
    max-width: 900px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

/* header */
header {
    max-width: 600px;
    font-weight: bold;
    text-transform: uppercase;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header ul li {
    margin: 8px 24px;
}


/* footer */
footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
/* javascript */
.hide {
    opacity: 0;
}