/* .casts-row {
    display: flex;
    justify-content: center;
} */


.about_staff_item {
    box-sizing: border-box;
    border: 1px black solid;
    border-bottom: none;
    padding: 48px;
}
.staff_bottom {
    border-bottom: 1px black solid;
}
.staff_name_big {
    font-size: 32px;
    /* font-weight: bold; */
}

.staff_flex {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.staff_flex p {
    margin-right: 16px;
    white-space: nowrap;
}


.casts {

    margin-top: 48px;
}
.each-cast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.cast {
    width: 150px;
    margin-bottom: 12px;
}

